<div class="container-fluid">
  <div class="row">
    <nav class="col bg-light sidebar px-0" [@navigationHidden]="hideNav | async">
      <router-outlet name="navigation"></router-outlet>
    </nav>
    <main role="main" class="col px-0">

      <router-outlet name="heading"></router-outlet>
      
      <div class="row m-3">
        <div class="col">
            <router-outlet name="breadcrumbs"></router-outlet>
        </div>
      </div>

      <div class="row m-3">
        <div class="col">
          <router-outlet></router-outlet>

        </div>
      </div>
    </main>
  </div>